* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #ffff;
}

nav {
    text-align: right;
    padding: 7.5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

nav a {
    font-size: 12px;
    padding-right: 24px;
}

a {
    color: #e4e8f0;
    text-decoration: none;
}
svg:hover{
    stroke:#00B8FF
}

a:hover {
    color: #fff;
}

a svg {
    color: #fff;
}


#menu,
nav {
    background-color: rgb(4, 86, 148);
}
svg{
    stroke: #FFFFFF;
}

#menu img {
    width: 104px;
}

#menu a {
    margin-right: 31px;
    font-size: 14px;
    vertical-align: middle;
    transition: ease-in-out .2s;
}
#menu a:hover{
    transform: scale(1.1);
    padding-top: 200px;
}
#menu {
    padding: 15px;
}

#menu div {
    display: inline;
    float: right;
    padding: 7.745px;
}

#mainLeft {
    width: 25%;
    display: inline-block;
    height: 600px;
    vertical-align: top;
    background-image: url(leftbackg.webp);
    background-size: cover;
    padding: 16px;
    text-align: center;
    float: left;
}

#mainLeft * {
    margin-bottom: 20px;
    font-weight: 300;
}

#mainLeft h2 {
    margin-top: 42%;
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
}

#mainLeft a {
    background-image: linear-gradient(111.98deg, #00b8ff 18.07%, #1574c4 90.31%);
    padding: 11.5px 44px;
    display: inline-block;
    border-radius: 30px;
    font-size: 13px;
    transition: ease-in-out .2s;
    color: #FFFF;
}

#mainLeft a:hover {
    transform: scale(1.1);
}

#mainLeft span {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    display: block;
}

#mainRight {
    vertical-align: top;
    width: 75%;
    display: inline-block;
    height: 600px;
    overflow: hidden;
    position: relative;
    font-weight: 300;
}
#mainRight img{
    width: 100%;
}
#mainRight div{
    position: absolute;
    bottom: 0;
    padding: 40px 30% 40px 40px;
    width: 100%;
    box-shadow:inset 0px -48px 63px -44px rgba(8, 82, 193, 0.77);

}
#mainRight h2{
    font-weight: 400;
    margin: 15px 0;
    font-size: 42px;
}
#shadow{
    height: 100%;
    position: absolute;
}
#languageMenu{
    background-color: #020f2a;
    width: 80px;
    list-style: none;
    border-radius: 3px;
    z-index:1;
    position: absolute;
    margin-block-start: 10px;
    right:86px;
    font-weight: 300;
    font-size: 13px;
}
#languageMenu li{
    line-height: 1.6;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px 0 5px 10px;
    border-bottom: 0.2px solid hsla(0,0%,100%,.3);
}